/* Empty. Add your own CSS if you like */
body {
    background-color: aliceblue;
}
.appButton {
    opacity: 0.8;
    filter:alpha(opacity=50);
    width: 180px !important;
    heigth: 180px !important;
}
.appButton:hover{
    opacity: 1.0;
    filter:alpha(opactiy=100);

}
