/* Empty. Add your own CSS if you like */
body {

}

.appButton {
    opacity: 1.0;
    filter:alpha(opacity=100);
    width: 180px !important;
    heigth: 180px !important;
}
.appButton:active{
    opacity: 0.8;
    filter:alpha(opactiy=80);
s
}

.padding {

    background-image: url("bubblerotate.png");

}
.text{
    color:white;
}
.movie{
    color:white;
    border-radius: 90%;
}
.clickable{
    width: 180px ;
}
