<ion-view view-title="Camera">
  <ion-content class="padding">
    <br>

    <!-- Does not support videos remove later -->
    <div class="bottom" align="center">
      <div style="float:left">
        <input type="image" class="appButton" src="img/PictureButton.png" ng-click="getPicture()">

          <div class="text">Take Picture</div>
        </input>
      </div>
      <div style="float:right">
        <input type="image" class="appButton" src="img/VideoButton.png" ng-click="getVideo()">

        <div class="text">Get Video</div>
        </input>
      </div>
    </div>
    <br>
    <br>
    <div class="bottom">

    </div>
    <br><br><br>
    <!-- just a picture remove later -->
    <div class="bottom">
      <div style="clear:both" align="center">
        <img class="col-90" ng-src="{{imageSrc}}" alt="picture" align="center">
      </div>
    </div>
    <!-- show the selected video -->
    <div class="bottom">
      <div align="center">
        <video ng-src="{{videoSrc}}" class="centerme" controls="controls" width="100%" height="auto"></video>
      </div>


      <!-- Yay for functionality! -->
      <div>
      <label class="movie"> start trim at :
        <input type="number" class="centerme" name="startInput" ng-model="trimTimes.startInput" min="0"  placeholder="start time">
      </label>
    </div>
      <div>
        <label class="movie"> end trim at :
          <input type="number" class="centerme" name="endInput" ng-model="trimTimes.endInput" max = {{$scope.videoInfoJSON.duration }} placeholder="end time">

        </label>
      </div>
    </div>
    <div class="bottom">
      <div align="center">
        <button  class="button button-royal button-large" ng-click="trim()">
          Trim
        </button>
      </div>
    </div>
    <br>

    <!-- show the trimmed video here -->
    <br>
    <div class="bottom">
      <div align="center">
        <video ng-src="{{trimmedVideoPath}}" class="centerme" controls="controls" width="100%" height="auto"></video>
      </div>
    </div>
    <br>
    <br>
    <div class="bottom">
      <div align="center">
        <button  class="button button-royal button-large" ng-click="stopmotion()">
          Stop Motion
        </button>
      </div>
    </div>
    <br>
    <br>
    <div class="bottom">
      <div align="center">
        <button  class="button button-royal button-large" ng-click="getvideoinfo()">
          GetVideoInfo
        </button>
      </div>
    </div>

    <!-- the save button -->
    <div>
    <div class="bottom">
      <div align="center">
        <button  class="button button-royal button-large" ng-click="saveChanges()">
          SAVE CHANGES
        </button>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
