<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Accelerometer Tab -->
  <ion-tab title="Accelerometer" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/accelerometer">
    <ion-nav-view name="tab-accelerometer"></ion-nav-view>
  </ion-tab>

  <!-- Gyro Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- Microphone Tab -->
  <ion-tab title="Compass" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/compass">
    <ion-nav-view name="tab-compass"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="GPS" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/gps">
    <ion-nav-view name="tab-gps"></ion-nav-view>
  </ion-tab>


</ion-tabs>
